### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

### Eclipse Patch ###
.classpath
.project

### Windows ###
*.lnk
Thumbs.db

### Linux ###
*~

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

### Minecraft ###
eclipse/logs/*
eclipse/options.txt
eclipse/saves/*
eclipse/crash-reports/*
eclipse/asm/*
eclipse/usernamecache.json